body{
    background-color: black;
    color: white;

}
nav>ul>li{
    color: yellow;
}

article{
    color: green;
    background-color: turquoise;
}

#titulo_del_blog{
    text-align: center;
    size: 3rem;
}